body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.fullWidthAndHeight {
  width: 100%;
  height: 100%;
}

.active {
  background-color: #fff5f8 !important;
}
