body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.fullWidthAndHeight {
  width: 100%;
  height: 100%;
}

/* react router active link class */
.active {
  background-color: #fff5f8 !important;
}

/* for completed badge */
#card {
  position: relative;
}

.completed-badge {
  padding: 5px 10px;
  display: inline-block;
  background-color: rgb(154 234 154);
  position: absolute;
  top: 14px;
  left: -8px;
  z-index: 10;
  border-radius: 3px;
  color: black;
  font-weight: 600;
  font-size: 10px;
  transform: rotate(-35deg);
}

/* for badge */
#card .MuiBadge-anchorOriginTopRightRectangle {
  top: 10px;
  right: 10px;
}
